@{
    ViewData["Title"] = "LOC_StateAddEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model LOC_StateModel
<section style="position:relative;top:40px;">
    <div>
        <div>
            <h1>Insert/Edit Record</h1>
        </div>
        <form method="post" asp-controller="LOC_State" asp-action="Save">
            @Html.HiddenFor(x=>x.StateID)
            <div class="mb-3">
                <label for="StateName" class="form-label">State Name</label>
                <input type="text" class="form-control" asp-for="StateName" placeholder="Enter State Name" id="StateName">
            </div>
            <div class="mb-3">
                <label for="StateCode" class="form-label">State Code</label>
                <input type="text" class="form-control" asp-for="StateCode" placeholder="Enter State Code" id="StateCode">
            </div>
            @*<div class="mb-3">
            <label for="CreationDate" class="form-label">Creation Date</label>
            <input type="date" class="form-control" asp-for="CreationDate" id="CreationDate">
            </div>
            <div class="mb-3">
            <label for="ModificationDate" class="form-label">Modification Date</label>
            <input type="date" class="form-control" asp-for="ModificationDate" id="ModificationDate">
            </div>*@
            <div class="mb-3">
                <label for="CountryID" class="form-label">Country Name</label>
                <select class="form-control" asp-for="CountryID" id="CountryID" asp-items="@(new SelectList(ViewBag.CountryList,"CountryID","CountryName"))">
                    <option value="">Select Country</option>
                </select>
            </div>


            <input type="submit" class="btn btn-success" />
            <input type="submit" class="btn btn-danger mx-3" asp-controller="LOC_State" asp-action="Index" value="Back to Page" />

        </form>
    </div>
</section>



