
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*
<table id="about" border="0" width="100%"
       cellpadding="0" cellspacing="0" bgcolor="#D8D9CF"
    <tr>
        <td>
            <table border="0" cellpadding="15"
                   cellspacing="0" width="80%" align="center">
                <tr>
                    <td height="180" align="center"
                        valign="middle" colspan="2">
                        <font face="Verdana" size="5"
                              color="black">
                            About Me
                        </font>
                        <hr color="#4CAF50" width="90">
                    </td>
                </tr>

                <tr>
                    <td width="100%">
                        <font face="Verdana" size="4"
                              color="black">
                            I am Kishan Khunt, an DIET Rajkot student. Here's my Portfolio to Introduce My Self in Easy Way.
                            <hr color="black">

                            We know that,There is many Technologies Available like Artificial Intelligence,Data Analysis,Machine Learning,Robotics.
                            <hr color="black">

                            I Liked Web Devloping to Comparison of Machine Learning , Artificial intelligence or other technologies
                            <hr color="black">
                            I completed Html,Css,Javascript,or Javascript Framworks like Nodejs,Reactjs,Expressjs as a Frontend Devloper.and as a Backend Devloper I choose to Complete Php and MySql Database.
                            <hr color="black">
                            This is Some Projects that I am Completed.
                            <br /><br />
                            <span>1. <a href="https://kishan-khunt1.github.io/Event-Management/" class="px-4" style="color:red; text-decoration:none;opacity:70%;" id=""> Event Managment Website</a></span>
                            <br /><br />
                            <span>2. <a href="https://3b8c06.csb.app/" class="px-4" style="color:red; text-decoration:none;opacity:70%;"> Product Devlopment App</a></span>
                            <br /><br />
                        </font>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
</table>


*@

<div class="container my-lg-5">
    <div class="text-center">
        <span class="text-uppercase font-style">About </span>
        <div class="d-flex align-items-center ">
            <div class="flex-shrink-0 ">
                <img src="~/img/MyImage.jpg" class="my-5 border border-dark rounded" height="600vh" alt="MyImage">
            </div>
            <div class="flex-grow-1 text-start mx-lg-5 fs-5 p-lg-5 bg-opacity-25 bg-secondary border border-dark rounded " id="typewriter" style="height: 79vh; font-family: 'Signika', sans-serif;">
                I am Kishan Khunt. I started my <b>Web Devloping</b> Carrier in 2021. I Learn HTML,CSS,JS,PHP as a devloper.
                <div class="my-5">
                    I also have other skills like MS Office, C, Java. In 2022 I Started my Carrier in Technology like  <b>.Net</b> .
                    <div class="my-5">
                        I also Making a projects  in My College Time like Making a Website Which is used in Event Managment. and also make Product Website is Devloped in React JS.
                    </div>
                </div>
            </div>
        </div>
        <div style="visibility: hidden;" id="contact">...</div>
    </div>
</div>