
@{
    ViewData["Title"] = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="container ">
    <h1 class="faq-heading text-center text-danger fw-bold ">FAQ'S</h1>
        <section class="faq-container" style="background-color:#F9F9F9;">
        <div class="faq-one my-1">

            <!-- faq question -->
            <h1 class="faq-page">What is an FAQ Page?</h1>

            <!-- faq answer -->
                <div class="faq-body" style="background-color:#F9F9F9;">
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit saepe sequi, illum facere
                    necessitatibus cum aliquam id illo omnis maxime, totam soluta voluptate amet ut sit ipsum
                    aperiam.
                    Perspiciatis, porro!
                </p>
            </div>
        </div>
        <hr class="hr-line">

            <div class="faq-two ">

            <!-- faq question -->
            <h1 class="faq-page">Why do you need an FAQ page?</h1>

            <!-- faq answer -->

            <div class="faq-body">
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit saepe sequi, illum facere
                    necessitatibus cum aliquam id illo omnis maxime, totam soluta voluptate amet ut sit ipsum
                    aperiam.
                    Perspiciatis, porro!
                </p>
            </div>
        </div>
        <hr class="hr-line">


            <div class="faq-three]">

            <!-- faq question -->
            <h1 class="faq-page">Does it improves the user experience of a website?</h1>

            <!-- faq answer -->
            <div class="faq-body">
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit saepe sequi, illum facere
                    necessitatibus cum aliquam id illo omnis maxime.
                </p>
            </div>
        </div>

    </section>
    </div>
</main>

