@{
    ViewData["Title"] = "Home Page";
}
<div class="backside container-fluid">
    <div><img class="position-absolute  top-50 start-50 translate-middle" src="~/img/avataaars.svg" alt="avtar" width="15%" id="home"></div>
    <div class="text-center text-light fw-bold font-style position-absolute start-50 translate-middle my-5" style="top: 70%;">
        <span> MY PORTFOLIO</span>
        <div class="fs-4">
            <u>Web Devloper - Programmer - Illustrator</u>
        </div>
    </div>
</div>

